%h1.mainTitle 新着レシピ
.leftContent
  %h2.subTitle 
    = fa_icon 'thumbs-up'
    今日のピックアップ
  .mainThumRecipe
    = link_to recipe_path(@new_pickup) do
      =image_tag @new_pickup.image.to_s, class: "mainThumRecipe__image"
    = link_to recipe_path(@new_pickup) do
      %p.mainThumRecipe__title=@new_pickup.name
      %p.mainThumRecipe__explain=@new_pickup.comment
    = link_to "#" do
      %p.mainThumRecipe__user="投稿者：#{@new_pickup.user.nickname}"

.rightContent
  %h2.title.subTitle 
    = fa_icon 'trophy'
    新着の人気レシピ
  .subThumRecipes
    -@new_rankings.each do |recipe|
      .subThumRecipe
        = link_to recipe_path(recipe) do
          =image_tag recipe.image.to_s, class: "subThumRecipe__image"
          %p.subThumRecipe__title=recipe.name