%h1.mainTitle 人気のレシピ
%ul.bigRecipes
  %li.bigRecipe
    = link_to '#' do
      %image.bigRecipe__image{src: 'assets/katsu1.jpg'}
      %h4.bigRecipe__title スーパーカツ丼
      %p.bigRecipe__explain 一口食べるだけで、全ての罪を吐き出したくなりますよ。
      %p.bigRecipe__user 投稿者：そばめしお
  %li.bigRecipe
    = link_to '#' do
      %image.bigRecipe__image{src: 'assets/katsu1.jpg'}
      %h4.bigRecipe__title スーパーカツ丼
      %p.bigRecipe__explain 一口食べるだけで、全ての罪を吐き出したくなりますよ。
      %p.bigRecipe__user 投稿者：そばめしお
  %li.bigRecipe
    = link_to '#' do
      %image.bigRecipe__image{src: 'assets/katsu1.jpg'}
      %h4.bigRecipe__title スーパーカツ丼
      %p.bigRecipe__explain 一口食べるだけで、全ての罪を吐き出したくなりますよ。
      %p.bigRecipe__user 投稿者：そばめしお
  %li.bigRecipe
    = link_to '#' do
      %image.bigRecipe__image{src: 'assets/katsu1.jpg'}
      %h4.bigRecipe__title スーパーカツ丼
      %p.bigRecipe__explain 一口食べるだけで、全ての罪を吐き出したくなりますよ。
      %p.bigRecipe__user 投稿者：そばめしお
  %li.bigRecipe
    = link_to '#' do
      %image.bigRecipe__image{src: 'assets/katsu1.jpg'}
      %h4.bigRecipe__title スーパーカツ丼
      %p.bigRecipe__explain 一口食べるだけで、全ての罪を吐き出したくなりますよ。
      %p.bigRecipe__user 投稿者：そばめしお
  %li.bigRecipe
    = link_to '#' do
      %image.bigRecipe__image{src: 'assets/katsu1.jpg'}
      %h4.bigRecipe__title スーパーカツ丼
      %p.bigRecipe__explain 一口食べるだけで、全ての罪を吐き出したくなりますよ。
      %p.bigRecipe__user 投稿者：そばめしお