%h1.mainTitle 人気のレシピ
%ul.bigThumRecipes
  %li.bigThumRecipe
    = link_to '/recipes/1' do
      %image.bigThumRecipe__image{src: 'assets/katsu1.jpg'}
      %h4.bigThumRecipe__title スーパーカツ丼
      %p.bigThumRecipe__user 投稿者：そばめしお
  %li.bigThumRecipe
    = link_to '/recipes/1' do
      %image.bigThumRecipe__image{src: 'assets/katsu1.jpg'}
      %h4.bigThumRecipe__title スーパーカツ丼
      %p.bigThumRecipe__user 投稿者：そばめしお
  %li.bigThumRecipe
    = link_to '/recipes/1' do
      %image.bigThumRecipe__image{src: 'assets/katsu1.jpg'}
      %h4.bigThumRecipe__title スーパーカツ丼
      %p.bigThumRecipe__user 投稿者：そばめしお
  %li.bigThumRecipe
    = link_to '/recipes/1' do
      %image.bigThumRecipe__image{src: 'assets/katsu1.jpg'}
      %h4.bigThumRecipe__title スーパーカツ丼
      %p.bigThumRecipe__user 投稿者：そばめしお
  %li.bigThumRecipe
    = link_to '/recipes/1' do
      %image.bigThumRecipe__image{src: 'assets/katsu1.jpg'}
      %h4.bigThumRecipe__title スーパーカツ丼
      %p.bigThumRecipe__user 投稿者：そばめしお
  %li.bigThumRecipe
    = link_to '/recipes/1' do
      %image.bigThumRecipe__image{src: 'assets/katsu1.jpg'}
      %h4.bigThumRecipe__title スーパーカツ丼
      %p.bigThumRecipe__user 投稿者：そばめしお
  %li.bigThumRecipe
    = link_to '/recipes/1' do
      %image.bigThumRecipe__image{src: 'assets/katsu1.jpg'}
      %h4.bigThumRecipe__title スーパーカツ丼
      %p.bigThumRecipe__user 投稿者：そばめしお
  %li.bigThumRecipe
    = link_to '/recipes/1' do
      %image.bigThumRecipe__image{src: 'assets/katsu1.jpg'}
      %h4.bigThumRecipe__title スーパーカツ丼
      %p.bigThumRecipe__user 投稿者：そばめしお
  %li.bigThumRecipe
    = link_to '/recipes/1' do
      %image.bigThumRecipe__image{src: 'assets/katsu1.jpg'}
      %h4.bigThumRecipe__title スーパーカツ丼
      %p.bigThumRecipe__user 投稿者：そばめしお
  %li.bigThumRecipe
    = link_to '/recipes/1' do
      %image.bigThumRecipe__image{src: 'assets/katsu1.jpg'}
      %h4.bigThumRecipe__title スーパーカツ丼
      %p.bigThumRecipe__user 投稿者：そばめしお