%h1.mainTitle 新着レシピ
.leftContent
  %h2.subTitle 
    = fa_icon 'thumbs-up'
    今日のPickup
  .mainRecipe
    = link_to '#' do
      %image.mainRecipe__image{src: 'assets/katsu1.jpg'}
    = link_to '#' do
      %p.mainRecipe__title スーパーカツ丼
    %p.mainRecipe__explain 一口食べるだけで、すべての罪を吐き出したくなりますよ。
    = link_to '#' do
      %p.mainRecipe__user 投稿者：そばめしお

.rightContent
  %h2.title.subTitle 
    = fa_icon 'trophy'
    新着レシピランキング
  .subRecipes
    .subRecipe
      = link_to '#' do
        %image.subRecipe__image{src: 'assets/katsu7.jpg'}
        %image.rank{src: 'assets/rank1.png'}
        %p.subRecipe__title すげぇカツ丼
        %p.subRecipe__explain これまじすっげえよ。めちゃうめえよ。感動だこら
    .subRecipe
      = link_to '#' do
        %image.subRecipe__image{src: 'assets/katsu1.jpg'}
        %image.rank{src: 'assets/rank2.png'}
        %p.subRecipe__title すげぇカツ丼
        %p.subRecipe__explain これまじすっげえよ。めちゃうめえよ
    .subRecipe
      = link_to '#' do
        %image.subRecipe__image{src: 'assets/katsu2.jpg'}
        %image.rank{src: 'assets/rank3.png'}
        %p.subRecipe__title すげぇカツ丼
        %p.subRecipe__explain これまじすっげえよ。めちゃうめえよ
    .subRecipe
      = link_to '#' do
        %image.subRecipe__image{src: 'assets/katsu3.jpeg'}
        %image.rank{src: 'assets/rank4.png'}
        %p.subRecipe__title すげぇカツ丼
        %p.subRecipe__explain これまじすっげえよ。めちゃうめえよ
    .subRecipe
      = link_to '#' do
        %image.subRecipe__image{src: 'assets/katsu4.jpeg'}
        %image.rank{src: 'assets/rank5.png'}
        %p.subRecipe__title すげぇカツ丼
        %p.subRecipe__explain これまじすっげえよ。めちゃうめえよ
    .subRecipe
      = link_to '#' do
        %image.subRecipe__image{src: 'assets/katsu5.jpg'}
        %image.rank{src: 'assets/rank6.png'}
        %p.subRecipe__title すげぇカツ丼
        %p.subRecipe__explain これまじすっげえよ。めちゃうめえよ