.recipeBoard
  %h4.title 
    =fa_icon 'question-circle'
    質問掲示板(7件)
    = form_for [@recipe,@message] , class: "postForm" do |f|
      =f.text_field :context, placeholder: "質問内容を記入してください", class: "postForm__context"
      =f.submit "SEND", class: "postForm__send"
      =f.text_field :status, style: "display:none", value: "new"

  %p.recipeBoardButton 掲示板を開く
  -@recipe.questions.order('updated_at DESC').each do |question|
    .posts
      -question.messages.each do |message|
        - if message.is_recipe_user == 1
          / 質問投稿者がレシピ投稿者と異なる場合
          .question.clearfix
            =link_to user_path(message.user), class: 'prof question__prof' do
              =image_tag message.user.avatar.to_s, class: 'icon question__icon'
              %p.name= message.user.nickname
            .comment.question__comment
              %p= message.context
              %p.comment__time= "投稿:#{message.created_at}"
        - else
          / 質問投稿者とレシピ投稿者が同じ（質問）の場合
          .reply.clearfix
            =link_to user_path(message.user), class: 'prof reply__prof' do
              =image_tag message.user.avatar.to_s, class: 'icon reply__icon'
              %p.name= message.user.nickname
            .comment.reply__comment
              %p= message.context
              %p.comment__time= "投稿:#{message.created_at}"
      =form_tag '/messages', method: :post, class: '' do
        %input{type: "submit",id: 'replyButton', class: 'replyButton', value: '返信する'}
        %input{type: 'text', name: 'context', class: 'reply__comment comment', placeholder: '返信コメントを入力してください'}
        %input{type: 'text', name: 'question_id', value: "#{question.id}", style: 'display:none;'}
        %input{type: 'text', name: 'recipe_id', value: "#{@recipe.id}", style: 'display:none;'}
