%h4.relatedRecipe
  =fa_icon 'undo'
  関連するレシピ
.midThumRecipes
  .subThumRecipe.clearfix
    = link_to '#' do
      %image.subThumRecipe__image{src: '/assets/katsu7.jpg'}
      %p.subThumRecipe__title すげぇカツ丼
  .subThumRecipe
    = link_to '#' do
      %image.subThumRecipe__image{src: '/assets/katsu1.jpg'}
      %p.subThumRecipe__title すげぇカツ丼
  .subThumRecipe
    = link_to '#' do
      %image.subThumRecipe__image{src: '/assets/katsu2.jpg'}
      %p.subThumRecipe__title すげぇカツ丼
  .subThumRecipe
    = link_to '#' do
      %image.subThumRecipe__image{src: '/assets/katsu3.jpeg'}
      %p.subThumRecipe__title すげぇカツ丼
  .subThumRecipe
    = link_to '#' do
      %image.subThumRecipe__image{src: '/assets/katsu4.jpeg'}
      %p.subThumRecipe__title すげぇカツ丼
  .subThumRecipe
    = link_to '#' do
      %image.subThumRecipe__image{src: '/assets/katsu5.jpg'}
      %p.subThumRecipe__title すげぇカツ丼
