= form_for @recipe do |f|
  / form_forで@recipeの状態によって遷移先を変更。stepとmaterialはnested_attributesの形で入力し、コントローラの処理でこれらも同時に登録する
  .recipe.clearfix
    %h3.recipeTitle
      =f.text_field :name, placeholder: 'タイトルを入力　　例：ヒノキの机'
    / トップ部分、タイトル、画像、レシピの詳細
    .recipeCategory.clearfix
      %p カテゴリを選択
      / カテゴリを大カテゴリ→小カテゴリで表示
      =f.grouped_collection_select(:category_id, LargeCategory.all, :categories, :name, :id, :name)
    .recipeTop.clearfix
      / 画像をクリックでファイル選択が開くよう、画像をlabel化、ファイル選択画面はdisplay:noneで表示しない
      .recipePhoto
        =f.label :image do
          =image_tag '/assets/katsu1.jpg'
          %p 画像クリックで写真を選択

        =f.file_field :image, style: "display:none;"
      .recipeDetail
        %h6
          制 作 費 用：
          =f.text_field :cost,placeholder: '例：2,000円'
        %h6
          制 作 時 間：
          =f.text_field :build_time, placeholder: '例：４時間'
        %h6
          完成サイズ：
          =f.text_field :size, placeholder: '例：h200 x w200 x d200x'
        %h6.comment ひとこと
        =f.text_area :comment, class: "commentForm", placeholder: 'どのような目的で作ったか、使ってみてどうかなど、自由に入力してください。'
        / この部分は未完
        .tags
          %h6.comment タグ一覧を入力
          - (0..5).each do |i|
            %input{type: "text", name:"tag[#{i}][name]", placeholder: '挿入したいタグを入力'}

      / 材料入力部分
    .recipeMates
      .recipeMate.recipeInfoBox.margin
        %h6.recipeInfoBox__title 使用した材料
        %ul.recipeInfoBox__contents
          / 以下はnested_attributesの番号、6つ作成する
          -(0..5).each do |i|
            %li.affiTitle
              / name、idをiに合わせて変更
              %input{type: "text", name: "recipe[materials_attributes][#{i}][name]", id: "recipe_materials_attributes_#{i}_name", placeholder: "例：天板 高さ100x横幅250x厚さ50 １枚"}
              / valueは0＝材料で固定し、display:noneで表示させない
              %input{type: "text", value: "0", name:"recipe[materials_attributes][#{i}][category]", id: "recipe_materials_attributes_#{i}_category", style:"display:none;"}
      .recipeMate.recipeInfoBox
        %h6.recipeInfoBox__title 使用した工具
        %ul.recipeInfoBox__contents
          / 上と同じだが、JSで入力欄を増やす可能性があるため、数字は10~にしておく
          -(10..15).each do |i|
            %li.affiTitle
              %input{type: "text", name: "recipe[materials_attributes][#{i}][name]", id: "recipe_materials_attributes_#{i}_name", placeholder: "例：電動ノコギリ"}
              / valueは1=工具で固定し、display:noneで表示させない
              %input{type: "text", value: "1", name:"recipe[materials_attributes][#{i}][category]", id: "recipe_materials_attributes_#{i}_category", style:"display:none;"}
  / レシピ作成手順入力画面
  .recipeSteps.clearfix
    / @materials_mateと構造は一緒。すでに@recipeに登録されている@stepsを表示し、値が登録されていない部分（最大６個）は空欄を入れる。
    - (1..6).each do |i|
      .recipeStep
        .recipeStep__stepNum 
          STEP .
          %span=i
        .recipeStep__stepDetail.claerfix
          %label{for: "recipe_steps_attributes_#{i}_image"}
            %image.recipeStep__stepDetail__pic{src: '/assets/katsu1.jpg', style: 'display:none;'}
            .imageButton.clearfix
              =fa_icon 'facebook'
              %p 画像を登録する
            %input{type: "file", name: "recipe[steps_attributes][#{i}][image]", id: "recipe_steps_attributes_#{i}_image", style: "display:none;"}
          %textarea{type: "text", name: "recipe[steps_attributes][#{i}][content]", id: "recipe_steps_attributes_#{i}_content", class: "recipeStep__stepDetail__comment", placeholder: "行程を入力してください"}
    .recipePoint.recipeInfoBox.margin
      %h6.recipeInfoBox__title コツ・ポイント
      %p.recipeInfoBox__content=f.text_area :point, placeholder: "作成する上で、コツやポイントがあれば入力してください。"
  =f.submit "レシピを登録する", class: "amazonButton submitRecipe"