- add_breadcrumb @recipe.category.large_category.name , "#"
- add_breadcrumb @recipe.category.name, '#'
- add_breadcrumb @recipe.name, '#'

.clearfix
  .recipe
    =render "shared/breadcrumbs"
    %h3.recipeTitle=@recipe.name
    .recipeAuthor.clearfix
      =link_to "投稿者：そばめし", '#', class: "authorLink"
      =link_to "削除する", '#', class: "editLink"
      =link_to "編集する", edit_recipe_path(@recipe), class: "editLink"
    .recipeFavo.clearfix{style: "#{'pointer-events:none;' unless signed_in?}"}
      .recipeFavo__like
        = render partial: "like", locals: {recipe: @recipe, like: @like}
      .recipeFavo__favorite
        = render partial: "favorite", locals: {recipe: @recipe, favorite: @favorite}
      .recipeFavo__facebook
        = link_to '#', class: "recipeFavo__facebook" do
          =fa_icon 'facebook-square'
          %p シェアする
      .recipeFavo__twitter
        = link_to '#', class: "recipeFavo__twitter noMarginRight" do
          =fa_icon 'twitter-square'
          %p ツイートする
    .recipeTop.clearfix
      .recipePhoto
        =image_tag  "#{@recipe.image}"
      .recipeDetail
        %h6
          制 作 費 用：
          %span=@recipe.cost
        %h6
          制 作 時 間：
          %span=@recipe.build_time
        %h6
          完成サイズ：
          %span=@recipe.size
        %h6.comment ひとこと
        %p=@recipe.comment
        .tags
          %h6.comment タグ一覧
          - @recipe.tags.each do |tag|
            = link_to tag_path(tag) do
              =fa_icon 'tag'
              =tag.name
    .recipeMates
      .recipeMate.recipeInfoBox.margin
        %h6.recipeInfoBox__title 使用した材料
        %ul.recipeInfoBox__contents
          -if @materials_mate.present?
            - @materials_mate.each do |mate|
              %li.affiTitle
                %p=mate.name
                %a.affiLink.clearfix{href:'#'}
                  %image.affiLink__img{src:'/assets/katsu1.jpg'}
                  %p.affiLink__name いい感じの豚骨やああああああああああああああああああ
                  %p.affiLink__price ¥2,000
      .recipeMate.recipeInfoBox
        %h6.recipeInfoBox__title 使用した工具
        %ul.recipeInfoBox__contents
          -if @materials_tool.present?
            - @materials_tool.each do |tool|
              %li.affiTitle
                %p=tool.name
                %a.affiLink.clearfix{href:'#'}
                  %image.affiLink__img{src:'/assets/katsu1.jpg'}
                  %p.affiLink__name いい感じの豚骨やああああああああああああああああああ
                  %p.affiLink__price ¥2,000
    %a.amazonButton
      =fa_icon 'amazon'
      Amazonで購入する
    .recipeSteps.clearfix
      -if @steps.present?
        -@steps.each.with_index(1) do |step, i|
          .recipeStep
            .recipeStep__stepNum 
              STEP .
              %span=i
            .recipeStep__stepDetail.claerfix
              -unless step.image.blank?
                %image.recipeStep__stepDetail__pic{src: "#{step.image}"}
              %p.recipeStep__stepDetail__comment=step.content
    =render 'show_post'
    =render 'show_related_recipes'