=form_for [@recipe, @step] do |f|
  .stepForms
    .stepForm
      %h4 作成工程
      .stepForm__content
        = f.label :content, '説明'
        = f.text_field :content
      .stepForm__image
        = f.label :image, '画像'
        = f.file_field :image
    .stepForm
      %h4 作成工程
      .stepForm__content
        = f.label :content, '説明'
        = f.text_field :content
      .stepForm__image
        = f.label :image, '画像'
        = f.file_field :image
    .stepForm
      %h4 作成工程
      .stepForm__content
        = f.label :content, '説明'
        = f.text_field :content
      .stepForm__image
        = f.label :image, '画像'
        = f.file_field :image
    .stepForm
      %h4 作成工程
      .stepForm__content
        = f.label :content, '説明'
        = f.text_field :content
      .stepForm__image
        = f.label :image, '画像'
        = f.file_field :image
  .stepForm__send
    =f.submit '送ります'

