=form_for [@recipe, @material] do |f|
  .mateForm
    .material
      %h5 工具
      .mateForm__name
        = f.label :name, 'タイトル'
        = f.text_field :name 
        = f.text_field :category, value: '0', style: 'display: none;'
      .mateForm__name
        = f.label :name, 'タイトル'
        = f.text_field :name
        = f.text_field :category, value: '0', style: 'display: none;'
      .mateForm__name
        = f.label :name, 'タイトル'
        = f.text_field :name
        = f.text_field :category, value: '0', style: 'display: none;'
    .tool
      %h5 材料
      .mateForm__name
        = f.label :name, 'タイトル'
        = f.text_field :name
        = f.text_field :category, value: '1', style: "display:none;"
      .mateForm__name
        = f.label :name, 'タイトル'
        = f.text_field :name
        = f.text_field :category, value: '1', style: 'display: none;'
      .mateForm__name
        = f.label :name, 'タイトル'
        = f.text_field :name
        = f.text_field :category, value: '1', style: 'display: none;'
    .mateForm__send
      =f.submit '送ります'