%header
  %image.logo{src: '/assets/DSC_0295.JPG'}
  / .searchArea
  /   %form.searchBox
  /     %input.searchBox__input{name: "search", type: "text", placeholder: "食材・料理名を入力してください"}
  /     %button.searchBox__button{type: "submit"}
  /       = fa_icon 'search'
  /       検索
  /     .searchBox__recommendWord
  /       %span 人気キーワード：
  /       = link_to "ヒノキ", "#"
  /       = link_to "テーブル",'#'
  /       = link_to "トイレ周り", '#'
  .rightContents
    %ul
      %li.signOut
        = link_to "新規登録", "#"
      %li.myPage
        = link_to "ログイン", "#"
      %li.newPost
        = link_to "レシピを投稿", "#"
.globalNav
  .navContents
    %ul
      %li
        = link_to "１時間で作る", "#", class: "borderLeft"
      %li
        = link_to "千円で作る", "#"
      %li
        = link_to "アイデアグッズ", "#"
      %li
        = link_to "自然素材でキレイに", "#"
      %li
        = link_to "カテゴリ別", "#"
