%header
  %image.logo{src: '/assets/DSC_0295.JPG'}
  .rightContents
    %ul
      %li.signOut
        = link_to "新規登録", "#"
      %li.myPage
        = link_to "ログイン", "#"
      %li.newPost
        = link_to "レシピを投稿", new_recipe_path
.globalNav
  .navContents
    %ul
      %li
        = link_to "１時間で作る", "#", class: "borderLeft"
      %li
        = link_to "千円で作る", "#"
      %li
        = link_to "アイデアグッズ", "#"
      %li
        = link_to "自然素材でキレイに", "#"
      %li
        = link_to "カテゴリ別", "#"
