.sideContent.searchAreaSide.clearfix
  %h2.sideContentTitle カテゴリーで探す
  .searchBox.searchGenres
    = link_to '#' do
      .genre
        = fa_icon 'bars 3x'
        %h4 カテゴリ別
    = link_to '#' do
      .genre
        = fa_icon 'bars 3x'
        %h4 カテゴリ別
    = link_to '#' do
      .genre
        = fa_icon 'bars 3x'
        %h4 カテゴリ別
    = link_to '#' do
      .genre
        = fa_icon 'bars 3x'
        %h4 カテゴリ別
    = link_to '#' do
      .genre
        = fa_icon 'bars 3x'
        %h4 カテゴリ別
    = link_to '#' do
      .genre
        = fa_icon 'bars 3x'
        %h4 カテゴリ別
    = link_to '#' do
      .genre
        = fa_icon 'bars 3x'
        %h4 カテゴリ別
    = link_to '#' do
      .genre
        = fa_icon 'bars 3x'
        %h4 カテゴリ別
    = link_to '#' do
      .genre
        = fa_icon 'bars 3x'
    = link_to '#' do
      .genre
        = fa_icon 'bars 3x'
        %h4 カテゴリ別
    = link_to '#' do
      .genre
        = fa_icon 'bars 3x'
        %h4 カテゴリ別
    = link_to '#' do
      .genre
        = fa_icon 'bars 3x'
        %h4 カテゴリ別
    = link_to '#' do
      .genre
        = fa_icon 'bars 3x'
        %h4 カテゴリ別

.sideContent.dailyRank.clearfix
  %h2.sideContentTitle デイリーランキング
  = link_to href: "#", class: "sideThumRecipe claerfix" do
    %image.sideThumRecipe__image{src: '/assets/katsu7.jpg'}
    %p.sideThumRecipe__rank 1位
    %p.sideThumRecipe__title スーパーカツ丼
    %p.sideThumRecipe__user そばめしさん
  %a.sideThumRecipe
    %image.sideThumRecipe__image{src: '/assets/katsu7.jpg'}
    %p.sideThumRecipe__rank 1位
    %p.sideThumRecipe__title スーパーカツ丼
    %p.sideThumRecipe__user
  .sideThumRecipe
    %image.sideThumRecipe__image{src: '/assets/katsu7.jpg'}
    %p.sideThumRecipe__rank 1位
    %p.sideThumRecipe__title スーパーカツ丼
    %p.sideThumRecipe__user
  .sideThumRecipe
    %image.sideThumRecipe__image{src: '/assets/katsu7.jpg'}
    %p.sideThumRecipe__rank 1位
    %p.sideThumRecipe__title スーパーカツ丼
    %p.sideThumRecipe__user
  .sideThumRecipe
    %image.sideThumRecipe__image{src: '/assets/katsu7.jpg'}
    %p.sideThumRecipe__rank 1位
    %p.sideThumRecipe__title スーパーカツ丼
    %p.sideThumRecipe__user                



